html {
    background-color: #222;
    color: #fff;
    font: 18px/1.4 sans-serif;
}

body {
    max-width: 40rem;
    margin: 0 auto;
    padding: 0 1rem;
}

a {
    color: red;
}
:visited {
    color: tan;
}